.password-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.password-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.password-form-group {
    margin-bottom: 15px;
}

.password-form-group label {
    display: block;
    margin-bottom: 5px;
}

.password-form-group input {
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
    background-color: #ffffff;
    color: #333;
    transition: box-shadow 0.3s ease;
    flex: 1;

}
.password-form-group input:focus {
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
    border-color: #007bff;
}

.button-password,
.cancel-button-password {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px; /* Add margin to create space */
}

.button-password {
    background-color: #007bff;
    color: white;
    border: none;
}

.button-password:hover {
    background-color: #0056b3;
}

.cancel-button-password {
    background-color: #dc3545;
    color: white;
    border: none;
}

.cancel-button-password:hover {
    background-color: #b02a37;
}

.message {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}

.password-input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.password-input-wrapper input {
    flex: 1;
    padding-right: 35px; /* Add padding to make room for the eye icon */
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #007bff;
}
