.password-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.password-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.password-form-group {
    margin-bottom: 15px;
}

.password-form-group label {
    display: block;
    margin-bottom: 5px;
}

.password-form-group input {
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
    background-color: #ffffff;
    color: #333;
    transition: box-shadow 0.3s ease;
    flex: 1;

}
.password-form-group input:focus {
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
    border-color: #007bff;
}

.button-password {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-password:hover {
    background-color: #0056b3;
}

.message {
    margin-top: 15px;
    text-align: center;
    color: red;
}
