.store-management-container {
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    .store-create-form button:hover {
        background: #218838;
    }

    .store-create-form input {
        font-size: 14px;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
        outline: none;
        background-color: #ffffff;
        color: #333;
        transition: box-shadow 0.3s ease;
        max-width: 100%;
        width: 80px;
        flex: 1;
    }

    .store-create-form input:focus,
    .store-create-form select:focus {
        box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
        border-color: #007bff;
    }

    .store-create-form {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 20px;
        align-items: center;
        background: #ffffff;
        padding: 15px;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .stores-table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 4px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    }

    .stores-table th,
    .stores-table td {
        padding: 12px;
        text-align: center;
        border-bottom: 1px solid #ddd;
        color: #333;

    }

.stores-table th {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-right: 1px solid #ddd;
}

.stores-table th:last-child {
    border-right: none;
}

.stores-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.stores-table tr:last-child td {
    border-bottom: none;
}

.stores-table tr:hover {
    background-color: #f0f0f0;
}

.stores-table td button {
    margin-right: 10px;
}

    .create-button {
        background-color: #28a745;
        color: white;
        padding: 10px 20px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        font-size: 14px;
    }

    .delete-button,
    .cancel-button,
    .confirm-button{
        background-color: #dc3545;
        color: white;
        padding: 10px 20px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        font-size: 14px;
    }


    .view-button , .edit-button{
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        font-size: 14px;
    }

    .delete-button:hover,
    .cancel-button:hover,
    .confirm-button:hover {
        background-color: #dc3545;
    }

    .store-button-group {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 10px;
    }

    .store-cancel-button,
    .store-confirm-button {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s;
    }

    .store-cancel-button {
        background-color: #dc3545;
    }

    .store-cancel-button:hover {
        background-color: #c82333;
        transform: scale(1.05);
    }

    .store-confirm-button {
        background-color: #28a745;
    }

    .store-confirm-button:hover {
        background-color: #218838;
        transform: scale(1.05);
    }


    .edit-modal-store {
        background-color: #fff;
        border-radius: 4px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        width: 350px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .edit-modal-store h3 {
        margin-bottom: 15px;
        text-align: center;
        color: #2c3e50;
        font-size: 1.2rem;
    }

    .edit-modal-store input,
    .edit-modal-store select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 1rem;
        outline: none;
        transition: border-color 0.3s ease;
    }

    .edit-modal-store input:focus,
    .edit-modal-store select:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    .edit-modal-store button {
        padding: 10px;
        border: none;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s ease, transform 0.2s;
    }

    .edit-modal-store .save-button {
        background-color: #28a745;
    }

    .edit-modal-store .save-button:hover {
        background-color: #218838;
        transform: scale(1.05);
    }


    .edit-modal-store .cancel-button {
        background-color: #dc3545;
    }

    .edit-modal-store .cancel-button:hover {
        background-color: #c82333;
        transform: scale(1.05);
    }

    .edit-modal-store .button-group {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 10px;
    }
    .edit-actions {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .checkbox-container {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .checkbox-container label {
        font-size: 1rem;
        color: #333;
    }

    .checkbox-container input[type="checkbox"] {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }



.store-create-form button:hover {
    background: #218838;
}

.store-create-form input {
    font-size: 14px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
    transition: box-shadow 0.3s ease;
    color: #333;
    max-width: 100%;
    width: 300px;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.store-create-form input:focus,
.store-create-form select:focus {
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
    border-color: #007bff;
}

.store-create-form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
    align-items: center;
    background: #ffffff;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.store-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 12px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.store-table th,
.store-table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    color: #333;

}

.store-table th {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-right: 1px solid #ddd;
}
.store-table th:last-child {
    border-right: none;
}


.store-table tr:hover {
    background-color: #f0f0f0;
}

.create-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.delete-button,
.cancel-button,
.confirm-button{
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}


.view-button , .edit-button{
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}
.store-table td button {
    margin-right: 10px;
}




.delete-button:hover,
.cancel-button:hover,
.confirm-button:hover {
    background-color: #dc3545;
}

.store-button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.store-cancel-button,
.store-confirm-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

.store-cancel-button {
    background-color: #dc3545;
}

.store-cancel-button:hover {
    background-color: #c82333;
    transform: scale(1.05);
}

.store-confirm-button {
    background-color: #28a745;
}

.store-confirm-button:hover {
    background-color: #218838;
    transform: scale(1.05);
}


.edit-modal-store {
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.edit-modal-store h3 {
    margin-bottom: 15px;
    text-align: center;
    color: #2c3e50;
    font-size: 1.2rem;
}

.edit-modal-store input,
.edit-modal-store select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

.edit-modal-store input:focus,
.edit-modal-store select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.edit-modal-store button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s;
}

.edit-modal-store .save-button {
    background-color: #28a745;
}

.edit-modal-store .save-button:hover {
    background-color: #218838;
    transform: scale(1.05);
}


.edit-modal-store .cancel-button {
    background-color: #dc3545;
}

.edit-modal-store .cancel-button:hover {
    background-color: #c82333;
    transform: scale(1.05);
}


.edit-actions {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-container label {
    font-size: 1rem;
    color: #333;
}

.checkbox-container input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.store-create-form .distribution-button {
    background-color: #17a2b8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.store-create-form .distribution-button:hover {
    background-color: #138496;
}

.distribution-modal {
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.distribution-modal h3 {
    margin-bottom: 15px;
    text-align: center;
    color: #2c3e50;
    font-size: 1.2rem;

}

.distribution-modal input,
.distribution-modal select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

.distribution-modal input:focus,
.distribution-modal select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.distribution-modal button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s;

}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.distribution-modal .distribution-button {
    background-color: #28a745;
}

.distribution-modal .distribution-button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.distribution-modal .cancel-button {
    background-color: #dc3545;
}

.distribution-modal .cancel-button:hover {
    background-color: #c82333;
    transform: scale(1.05);
}



