.calendar-component-container {

        margin-top: 20px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


}

.react-calendar {
    width: 100%;
    border: none;
}

.react-calendar__tile {
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.react-calendar__tile--active {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

.react-calendar__tile:hover {
    background-color: #f0f0f0;
}

.react-calendar__tile--now {
    background-color: #ffc107;
    color: white;
    font-weight: bold;
}
